<header ng-switch on="$location.path().indexOf('/Jobs/new') > -1">
    <h3 ng-switch-when="true">Create a new Job</h3>
    <h3 ng-switch-when="false">View or edit Job</h3>
</header>
<form id="JobForm" name="JobForm" class="form-horizontal" role="form">
        <div class="form-group" ng-class="{'has-error': JobForm.benefits.$invalid}">
        <label for="benefits" class="col-sm-2 control-label">Benefits</label>
        <div id="benefitsControls" class="col-sm-10">
            <input id="benefits" name="benefits" type="text" required class="form-control" ng-model="job.benefits" placeholder="Enter the Job Benefits"></input>
            <span class="help-block error" ng-show="JobForm.benefits.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': JobForm.company.$invalid}">
        <label for="company" class="col-sm-2 control-label">Company</label>
        <div id="companyControls" class="col-sm-10">
        <select id="company" name="company" class="form-control" ng-model="companySelection" ng-options="c.text for c in companySelectionList" required >
            <option value="">Choose a Company</option>
        </select>
        <span class="help-block error" ng-show="JobForm.company.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': JobForm.description.$invalid}">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div id="descriptionControls" class="col-sm-10">
            <input id="description" name="description" type="text" required class="form-control" ng-model="job.description" placeholder="Enter the Job Description"></input>
            <span class="help-block error" ng-show="JobForm.description.$error.required">required</span> 
        </div>
    </div>


    <div class="form-group" ng-class="{'has-error': JobForm.jobCategory.$invalid}">
        <label for="jobCategory" class="col-sm-2 control-label">Job Category</label>
        <div id="jobCategoryControls" class="col-sm-10">
        <select id="jobCategory" name="jobCategory" class="form-control" ng-model="job.jobCategory" ng-options="j for j in jobCategoryList"  >
            <option value="">Choose a Job Category</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': JobForm.jobType.$invalid}">
        <label for="jobType" class="col-sm-2 control-label">Job Type</label>
        <div id="jobTypeControls" class="col-sm-10">
        <select id="jobType" name="jobType" class="form-control" ng-model="job.jobType" ng-options="j for j in jobTypeList"  >
            <option value="">Choose a Job Type</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': JobForm.maxPayment.$invalid}">
        <label for="maxPayment" class="col-sm-2 control-label">Max Payment</label>
        <div id="maxPaymentControls" class="col-sm-10">
            <input id="maxPayment" name="maxPayment" type="text" class="form-control" ng-model="job.maxPayment" placeholder="Enter the Job Max Payment"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': JobForm.minPayment.$invalid}">
        <label for="minPayment" class="col-sm-2 control-label">Min Payment</label>
        <div id="minPaymentControls" class="col-sm-10">
            <input id="minPayment" name="minPayment" type="text" class="form-control" ng-model="job.minPayment" placeholder="Enter the Job Min Payment"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': JobForm.requirement.$invalid}">
        <label for="requirement" class="col-sm-2 control-label">Requirement</label>
        <div id="requirementControls" class="col-sm-10">
            <input id="requirement" name="requirement" type="text" required class="form-control" ng-model="job.requirement" placeholder="Enter the Job Requirement"></input>
            <span class="help-block error" ng-show="JobForm.requirement.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': JobForm.title.$invalid}">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div id="titleControls" class="col-sm-10">
            <input id="title" name="title" type="text" required class="form-control" ng-model="job.title" placeholder="Enter the Job Title"></input>
            <span class="help-block error" ng-show="JobForm.title.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': JobForm.active.$invalid}">
        <label for="active" class="col-sm-2 control-label">Active</label>
        <div id="activeControls" class="col-sm-10">
            <input id="active" name="active" type="checkbox" class="checkbox" ng-model="job.active" placeholder="Enter the Job Active"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': JobForm.createdAt.$invalid}">
        <label for="createdAt" class="col-sm-2 control-label">Created At</label>
        <div id="createdAtControls" class="col-sm-10">
            <input id="createdAt" name="createdAt" type="text" required class="form-control" ng-model="job.createdAt" placeholder="Enter the Job Created At"></input>
            <span class="help-block error" ng-show="JobForm.createdAt.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': JobForm.updatedAt.$invalid}">
        <label for="updatedAt" class="col-sm-2 control-label">Updated At</label>
        <div id="updatedAtControls" class="col-sm-10">
            <input id="updatedAt" name="updatedAt" type="text" class="form-control" ng-model="job.updatedAt" placeholder="Enter the Job Updated At"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': JobForm.uuid.$invalid}">
        <label for="uuid" class="col-sm-2 control-label">Uuid</label>
        <div id="uuidControls" class="col-sm-10">
            <input id="uuid" name="uuid" type="text" required class="form-control" ng-model="job.uuid" placeholder="Enter the Job Uuid"></input>
            <span class="help-block error" ng-show="JobForm.uuid.$error.required">required</span> 
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveJob" name="saveJob" class="btn btn-primary" ng-disabled="isClean() || JobForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteJob" name="deleteJob" class="btn btn-danger" ng-show="job.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>