<div class="form-horizontal">
    <h3>Create a new Job</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Jobs/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Jobs</h3>
    <form id="JobSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input id="title" name="title" class="form-control" type="text" ng-model="search.title" placeholder="Enter the Job Title"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="averageSalary" class="col-sm-2 control-label">Average Salary</label>
        <div class="col-sm-10">
            <input id="averageSalary" name="averageSalary" class="form-control" type="text" ng-model="search.averageSalary" placeholder="Enter the Job Average Salary"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="resume" class="col-sm-2 control-label">Resume</label>
        <div class="col-sm-10">
            <input id="resume" name="resume" class="form-control" type="text" ng-model="search.resume" placeholder="Enter the Job Resume"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="uuid" class="col-sm-2 control-label">Uuid</label>
        <div class="col-sm-10">
            <input id="uuid" name="uuid" class="form-control" type="text" ng-model="search.uuid" placeholder="Enter the Job Uuid"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Average Salary</th>
                    <th>Resume</th>
                    <th>Uuid</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Jobs/edit/{{result.id}}">{{result.title}}</a></td>
                    <td><a href="#/Jobs/edit/{{result.id}}">{{result.averageSalary}}</a></td>
                    <td><a href="#/Jobs/edit/{{result.id}}">{{result.resume}}</a></td>
                    <td><a href="#/Jobs/edit/{{result.id}}">{{result.uuid}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>