<header ng-switch on="$location.path().indexOf('/Blogs/new') > -1">
    <h3 ng-switch-when="true">Create a new Blog</h3>
    <h3 ng-switch-when="false">View or edit Blog</h3>
</header>
<form id="BlogForm" name="BlogForm" class="form-horizontal" role="form">
        <div class="form-group" ng-class="{'has-error': BlogForm.authors.$invalid}">
        <label for="authors" class="col-sm-2 control-label">Authors</label>
        <div id="authorsControls" class="col-sm-10">
            <select id="authors" name="authors" multiple class="form-control" ng-model="authorsSelection" ng-options="a.text for a in authorsSelectionList">
                <option value="">Choose a Authors</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': BlogForm.blogCategory.$invalid}">
        <label for="blogCategory" class="col-sm-2 control-label">Blog Category</label>
        <div id="blogCategoryControls" class="col-sm-10">
        <select id="blogCategory" name="blogCategory" class="form-control" ng-model="blog.blogCategory" ng-options="b for b in blogCategoryList"  >
            <option value="">Choose a Blog Category</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': BlogForm.date.$invalid}">
        <label for="date" class="col-sm-2 control-label">Date</label>
        <div id="dateControls" class="col-sm-10">
            <input id="date" name="date" type="text" class="form-control" ng-model="blog.date" placeholder="Enter the Blog Date"></input>
        </div>
    </div>


    <div class="form-group" ng-class="{'has-error': BlogForm.pictures.$invalid}">
        <label for="pictures" class="col-sm-2 control-label">Pictures</label>
        <div id="picturesControls" class="col-sm-10">
            <input id="pictures" name="pictures" type="text" class="form-control" ng-model="blog.pictures" placeholder="Enter the Blog Pictures"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': BlogForm.tags.$invalid}">
        <label for="tags" class="col-sm-2 control-label">Tags</label>
        <div id="tagsControls" class="col-sm-10">
            <input id="tags" name="tags" type="text" class="form-control" ng-model="blog.tags" placeholder="Enter the Blog Tags"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': BlogForm.title.$invalid}">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div id="titleControls" class="col-sm-10">
            <input id="title" name="title" type="text" class="form-control" ng-model="blog.title" placeholder="Enter the Blog Title"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': BlogForm.uuid.$invalid}">
        <label for="uuid" class="col-sm-2 control-label">Uuid</label>
        <div id="uuidControls" class="col-sm-10">
            <input id="uuid" name="uuid" type="text" required class="form-control" ng-model="blog.uuid" placeholder="Enter the Blog Uuid"></input>
            <span class="help-block error" ng-show="BlogForm.uuid.$error.required">required</span> 
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveBlog" name="saveBlog" class="btn btn-primary" ng-disabled="isClean() || BlogForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteBlog" name="deleteBlog" class="btn btn-danger" ng-show="blog.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>