<header ng-switch on="$location.path().indexOf('/Testimonials/new') > -1">
    <h3 ng-switch-when="true">Create a new Testimonial</h3>
    <h3 ng-switch-when="false">View or edit Testimonial</h3>
</header>
<form id="TestimonialForm" name="TestimonialForm" class="form-horizontal" role="form">
        <div class="form-group" ng-class="{'has-error': TestimonialForm.author.$invalid}">
        <label for="author" class="col-sm-2 control-label">Author</label>
        <div id="authorControls" class="col-sm-10">
        <select id="author" name="author" class="form-control" ng-model="authorSelection" ng-options="a.text for a in authorSelectionList" required >
            <option value="">Choose a Author</option>
        </select>
        <span class="help-block error" ng-show="TestimonialForm.author.$error.required">required</span> 
        </div>
    </div>


    <div class="form-group" ng-class="{'has-error': TestimonialForm.text.$invalid}">
        <label for="text" class="col-sm-2 control-label">Text</label>
        <div id="textControls" class="col-sm-10">
            <input id="text" name="text" type="text" class="form-control" ng-model="testimonial.text" placeholder="Enter the Testimonial Text"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': TestimonialForm.signature.$invalid}">
        <label for="signature" class="col-sm-2 control-label">Signature</label>
        <div id="signatureControls" class="col-sm-10">
            <input id="signature" name="signature" type="text" class="form-control" ng-model="testimonial.signature" placeholder="Enter the Testimonial Signature"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': TestimonialForm.picture.$invalid}">
        <label for="picture" class="col-sm-2 control-label">Picture</label>
        <div id="pictureControls" class="col-sm-10">
            <input id="picture" name="picture" type="text" class="form-control" ng-model="testimonial.picture" placeholder="Enter the Testimonial Picture"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': TestimonialForm.uuid.$invalid}">
        <label for="uuid" class="col-sm-2 control-label">Uuid</label>
        <div id="uuidControls" class="col-sm-10">
            <input id="uuid" name="uuid" type="text" required class="form-control" ng-model="testimonial.uuid" placeholder="Enter the Testimonial Uuid"></input>
            <span class="help-block error" ng-show="TestimonialForm.uuid.$error.required">required</span> 
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveTestimonial" name="saveTestimonial" class="btn btn-primary" ng-disabled="isClean() || TestimonialForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteTestimonial" name="deleteTestimonial" class="btn btn-danger" ng-show="testimonial.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>