<div class="form-horizontal">
    <h3>Create a new Testimonial</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Testimonials/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Testimonials</h3>
    <form id="TestimonialSearch" class="form-horizontal">
            <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input id="name" name="name" class="form-control" type="text" ng-model="search.name" placeholder="Enter the Testimonial Name"></input>
        </div>
    </div>


    <div class="form-group">
        <label for="text" class="col-sm-2 control-label">Text</label>
        <div class="col-sm-10">
            <input id="text" name="text" class="form-control" type="text" ng-model="search.text" placeholder="Enter the Testimonial Text"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="signature" class="col-sm-2 control-label">Signature</label>
        <div class="col-sm-10">
            <input id="signature" name="signature" class="form-control" type="text" ng-model="search.signature" placeholder="Enter the Testimonial Signature"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="picture" class="col-sm-2 control-label">Picture</label>
        <div class="col-sm-10">
            <input id="picture" name="picture" class="form-control" type="text" ng-model="search.picture" placeholder="Enter the Testimonial Picture"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="uuid" class="col-sm-2 control-label">Uuid</label>
        <div class="col-sm-10">
            <input id="uuid" name="uuid" class="form-control" type="text" ng-model="search.uuid" placeholder="Enter the Testimonial Uuid"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Text</th>
                    <th>Signature</th>
                    <th>Picture</th>
                    <th>Uuid</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Testimonials/edit/{{result.id}}">{{result.name}}</a></td>
                    <td><a href="#/Testimonials/edit/{{result.id}}">{{result.text}}</a></td>
                    <td><a href="#/Testimonials/edit/{{result.id}}">{{result.signature}}</a></td>
                    <td><a href="#/Testimonials/edit/{{result.id}}">{{result.picture}}</a></td>
                    <td><a href="#/Testimonials/edit/{{result.id}}">{{result.uuid}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>