<header ng-switch on="$location.path().indexOf('/Candidates/new') > -1">
    <h3 ng-switch-when="true">Create a new Candidate</h3>
    <h3 ng-switch-when="false">View or edit Candidate</h3>
</header>
<form id="CandidateForm" name="CandidateForm" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{'has-error': CandidateForm.cpf.$invalid}">
        <label for="cpf" class="col-sm-2 control-label">Cpf</label>
        <div id="cpfControls" class="col-sm-10">
            <input id="cpf" name="cpf" type="text" required class="form-control" ng-model="candidate.cpf" placeholder="Enter the Candidate Cpf"></input>
            <span class="help-block error" ng-show="CandidateForm.cpf.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CandidateForm.birthDate.$invalid}">
        <label for="birthDate" class="col-sm-2 control-label">Birth Date</label>
        <div id="birthDateControls" class="col-sm-10">
            <datetime id="birthDate" name="birthDate" required ng-model="candidate.birthDate" placeholder="Enter the Candidate Birth Date"></datetime>
            <span class="help-block error" ng-show="CandidateForm.birthDate.$error.required">required</span> 
            <span class="help-block error" ng-show="CandidateForm.birthDate.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CandidateForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" required class="form-control" ng-model="candidate.name" placeholder="Enter the Candidate Name"></input>
            <span class="help-block error" ng-show="CandidateForm.name.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CandidateForm.user.$invalid}">
        <label for="user" class="col-sm-2 control-label">User</label>
        <div id="userControls" class="col-sm-10">
        <select id="user" name="user" class="form-control" ng-model="userSelection" ng-options="u.text for u in userSelectionList" required >
            <option value="">Choose a User</option>
        </select>
        <span class="help-block error" ng-show="CandidateForm.user.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CandidateForm.locale.zipCode.$invalid}">
        <label for="locale.zipCode" class="col-sm-2 control-label">Zip Code</label>
        <div id="locale.zipCodeControls" class="col-sm-10">
            <input id="locale.zipCode" name="locale.zipCode" type="text" class="form-control" ng-model="candidate.locale.zipCode" placeholder="Enter the Candidate Zip Code"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CandidateForm.locale.city.$invalid}">
        <label for="locale.city" class="col-sm-2 control-label">City</label>
        <div id="locale.cityControls" class="col-sm-10">
            <input id="locale.city" name="locale.city" type="text" class="form-control" ng-model="candidate.locale.city" placeholder="Enter the Candidate City"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CandidateForm.locale.neighborhood.$invalid}">
        <label for="locale.neighborhood" class="col-sm-2 control-label">Neighborhood</label>
        <div id="locale.neighborhoodControls" class="col-sm-10">
            <input id="locale.neighborhood" name="locale.neighborhood" type="text" class="form-control" ng-model="candidate.locale.neighborhood" placeholder="Enter the Candidate Neighborhood"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CandidateForm.locale.street.$invalid}">
        <label for="locale.street" class="col-sm-2 control-label">Street</label>
        <div id="locale.streetControls" class="col-sm-10">
            <input id="locale.street" name="locale.street" type="text" class="form-control" ng-model="candidate.locale.street" placeholder="Enter the Candidate Street"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CandidateForm.locale.number.$invalid}">
        <label for="locale.number" class="col-sm-2 control-label">Number</label>
        <div id="locale.numberControls" class="col-sm-10">
            <input id="locale.number" name="locale.number" type="text" class="form-control" ng-model="candidate.locale.number" placeholder="Enter the Candidate Number"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CandidateForm.contact.mobilePhone.$invalid}">
        <label for="contact.mobilePhone" class="col-sm-2 control-label">Mobile Phone</label>
        <div id="contact.mobilePhoneControls" class="col-sm-10">
            <input id="contact.mobilePhone" name="contact.mobilePhone" type="text" class="form-control" ng-model="candidate.contact.mobilePhone" placeholder="Enter the Candidate Mobile Phone"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveCandidate" name="saveCandidate" class="btn btn-primary" ng-disabled="isClean() || CandidateForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteCandidate" name="deleteCandidate" class="btn btn-danger" ng-show="candidate.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>