<header ng-switch on="$location.path().indexOf('/Candidates/new') > -1">
    <h3 ng-switch-when="true">Create a new Candidate</h3>
    <h3 ng-switch-when="false">View or edit Candidate</h3>
</header>
<form id="CandidateForm" name="CandidateForm" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{'has-error': CandidateForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" required class="form-control" ng-model="candidate.name" placeholder="Enter the Candidate Name"></input>
            <span class="help-block error" ng-show="CandidateForm.name.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CandidateForm.cpf.$invalid}">
        <label for="cpf" class="col-sm-2 control-label">Cpf</label>
        <div id="cpfControls" class="col-sm-10">
            <input id="cpf" name="cpf" type="text" required class="form-control" ng-model="candidate.cpf" placeholder="Enter the Candidate Cpf"></input>
            <span class="help-block error" ng-show="CandidateForm.cpf.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CandidateForm.user.$invalid}">
        <label for="user" class="col-sm-2 control-label">User</label>
        <div id="userControls" class="col-sm-10">
        <select id="user" name="user" class="form-control" ng-model="userSelection" ng-options="u.text for u in userSelectionList" required >
            <option value="">Choose a User</option>
        </select>
        <span class="help-block error" ng-show="CandidateForm.user.$error.required">required</span> 
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveCandidate" name="saveCandidate" class="btn btn-primary" ng-disabled="isClean() || CandidateForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteCandidate" name="deleteCandidate" class="btn btn-danger" ng-show="candidate.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>