<div class="form-horizontal">
	<h3>Create a new Candidate</h3>
	<div class="form-group">
		<div class="col-md-offset-2 col-sm-2">
			<a id="Create" name="Create" class="btn btn-primary"
				href="#/Candidates/new"><span
				class="glyphicon glyphicon-plus-sign"></span> Create</a>
		</div>
	</div>
</div>
<hr />
<div>
	<h3>Search for Candidates</h3>
	<form id="CandidateSearch" class="form-horizontal">

		<div class="form-group">
			<label for="cpf" class="col-sm-2 control-label">Cpf</label>
			<div class="col-sm-10">
				<input id="cpf" name="cpf" class="form-control" type="text"
					ng-model="search.cpf" placeholder="Enter the Candidate Cpf"></input>
			</div>
		</div>


		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input id="name" name="name" class="form-control" type="text"
					ng-model="search.name" placeholder="Enter the Candidate Name"></input>
			</div>
		</div>

		<div class="form-group">
			<label for="user" class="col-sm-2 control-label">User</label>
			<div class="col-sm-10">
				<select id="user" name="user" class="form-control"
					ng-model="search.user" ng-options="u as u.id for u in userList">
					<option value="">Choose a User</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="contact.mobilePhone" class="col-sm-2 control-label">Mobile
				Phone</label>
			<div class="col-sm-10">
				<input id="contact.mobilePhone" name="contact.mobilePhone"
					class="form-control" type="text"
					ng-model="search.contact.mobilePhone"
					placeholder="Enter the Candidate Mobile Phone"></input>
			</div>
		</div>

		<div class="form-group">
			<label for="locale.zipCode" class="col-sm-2 control-label">Zip
				Code</label>
			<div class="col-sm-10">
				<input id="locale.zipCode" name="locale.zipCode"
					class="form-control" type="text" ng-model="search.locale.zipCode"
					placeholder="Enter the Candidate Zip Code"></input>
			</div>
		</div>

		<div class="form-group">
			<label for="locale.city" class="col-sm-2 control-label">City</label>
			<div class="col-sm-10">
				<input id="locale.city" name="locale.city" class="form-control"
					type="text" ng-model="search.locale.city"
					placeholder="Enter the Candidate City"></input>
			</div>
		</div>

		<div class="form-group">
			<label for="locale.neighborhood" class="col-sm-2 control-label">Neighborhood</label>
			<div class="col-sm-10">
				<input id="locale.neighborhood" name="locale.neighborhood"
					class="form-control" type="text"
					ng-model="search.locale.neighborhood"
					placeholder="Enter the Candidate Neighborhood"></input>
			</div>
		</div>

		<div class="form-group">
			<label for="locale.street" class="col-sm-2 control-label">Street</label>
			<div class="col-sm-10">
				<input id="locale.street" name="locale.street" class="form-control"
					type="text" ng-model="search.locale.street"
					placeholder="Enter the Candidate Street"></input>
			</div>
		</div>

		<div class="form-group">
			<label for="locale.number" class="col-sm-2 control-label">Number</label>
			<div class="col-sm-10">
				<input id="locale.number" name="locale.number" class="form-control"
					type="text" ng-model="search.locale.number"
					placeholder="Enter the Candidate Number"></input>
			</div>
		</div>

		<div class="form-group">
			<label for="locale.estate" class="col-sm-2 control-label">Estate</label>
			<div class="col-sm-10">
				<select id="locale.estate" name="locale.estate" class="form-control"
					ng-model="search.locale.estate"
					ng-options="l as l for l in localeestateList">
					<option value="">Choose a Estate</option>
				</select>
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-offset-2 col-sm-10">
				<a id="Search" name="Search" class="btn btn-primary"
					ng-click="performSearch()"><span
					class="glyphicon glyphicon-search"></span> Search</a>
			</div>
		</div>
	</form>
</div>
<div id="search-results">
	<div class="table-responsive">
		<table
			class="table table-responsive table-bordered table-striped clearfix">
			<thead>
				<tr>
					<th>Cpf</th>
					<th>Birth Date</th>
					<th>Name</th>
					<th>User</th>
					<th>Mobile Phone</th>
					<th>Zip Code</th>
					<th>City</th>
					<th>Neighborhood</th>
					<th>Street</th>
					<th>Number</th>
					<th>Estate</th>
				</tr>
			</thead>
			<tbody id="search-results-body">
				<tr
					ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
					<td><a href="#/Candidates/edit/{{result.id}}">{{result.cpf}}</a></td>
					<td><a href="#/Candidates/edit/{{result.id}}">{{result.birthDate|
							date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
					<td><a href="#/Candidates/edit/{{result.id}}">{{result.name}}</a></td>
					<td><a href="#/Candidates/edit/{{result.id}}">{{result.user.id}}</a></td>
					<td><a href="#/Candidates/edit/{{result.id}}">{{result.contact.mobilePhone}}</a></td>
					<td><a href="#/Candidates/edit/{{result.id}}">{{result.locale.zipCode}}</a></td>
					<td><a href="#/Candidates/edit/{{result.id}}">{{result.locale.city}}</a></td>
					<td><a href="#/Candidates/edit/{{result.id}}">{{result.locale.neighborhood}}</a></td>
					<td><a href="#/Candidates/edit/{{result.id}}">{{result.locale.street}}</a></td>
					<td><a href="#/Candidates/edit/{{result.id}}">{{result.locale.number}}</a></td>
					<td><a href="#/Candidates/edit/{{result.id}}">{{result.locale.estate}}</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<ul class="pagination pagination-centered">
		<li ng-class="{disabled:currentPage == 0}"><a id="prev" href
			ng-click="previous()">«</a></li>
		<li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}"
			ng-click="setPage(n)"><a href ng-bind="n + 1">1</a></li>
		<li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
			<a id="next" href ng-click="next()">»</a>
		</li>
	</ul>

</div>