<header ng-switch on="$location.path().indexOf('/SelectiveProcesses/new') > -1">
    <h3 ng-switch-when="true">Create a new SelectiveProcess</h3>
    <h3 ng-switch-when="false">View or edit SelectiveProcess</h3>
</header>
<form id="SelectiveProcessForm" name="SelectiveProcessForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': SelectiveProcessForm.uuid.$invalid}">
        <label for="uuid" class="col-sm-2 control-label">Uuid</label>
        <div id="uuidControls" class="col-sm-10">
            <input id="uuid" name="uuid" type="text" required class="form-control" ng-model="selectiveProcess.uuid" placeholder="Enter the SelectiveProcess Uuid"></input>
            <span class="help-block error" ng-show="SelectiveProcessForm.uuid.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': SelectiveProcessForm.job.$invalid}">
        <label for="job" class="col-sm-2 control-label">Job</label>
        <div id="jobControls" class="col-sm-10">
        <select id="job" name="job" class="form-control" ng-model="jobSelection" ng-options="j.text for j in jobSelectionList"  >
            <option value="">Choose a Job</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': SelectiveProcessForm.start.$invalid}">
        <label for="start" class="col-sm-2 control-label">Start</label>
        <div id="startControls" class="col-sm-10">
            <datetime id="start" name="start" required ng-model="selectiveProcess.start" placeholder="Enter the SelectiveProcess Start"></datetime>
            <span class="help-block error" ng-show="SelectiveProcessForm.start.$error.required">required</span> 
            <span class="help-block error" ng-show="SelectiveProcessForm.start.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': SelectiveProcessForm.expire.$invalid}">
        <label for="expire" class="col-sm-2 control-label">Expire</label>
        <div id="expireControls" class="col-sm-10">
            <datetime id="expire" name="expire" required ng-model="selectiveProcess.expire" placeholder="Enter the SelectiveProcess Expire"></datetime>
            <span class="help-block error" ng-show="SelectiveProcessForm.expire.$error.required">required</span> 
            <span class="help-block error" ng-show="SelectiveProcessForm.expire.$error.datetimeFormat">does not match format "yyyy-MM-dd hh:mm:ss" (e.g. 2013-12-01 22:00:00)</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': SelectiveProcessForm.candidates.$invalid}">
        <label for="candidates" class="col-sm-2 control-label">Candidates</label>
        <div id="candidatesControls" class="col-sm-10">
            <select id="candidates" name="candidates" multiple class="form-control" ng-model="candidatesSelection" ng-options="c.text for c in candidatesSelectionList">
                <option value="">Choose a Candidates</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': SelectiveProcessForm.requirement.$invalid}">
        <label for="requirement" class="col-sm-2 control-label">Requirement</label>
        <div id="requirementControls" class="col-sm-10">
            <input id="requirement" name="requirement" type="text" class="form-control" ng-model="selectiveProcess.requirement" placeholder="Enter the SelectiveProcess Requirement"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': SelectiveProcessForm.salary.$invalid}">
        <label for="salary" class="col-sm-2 control-label">Salary</label>
        <div id="salaryControls" class="col-sm-10">
            <input id="salary" name="salary" type="text" class="form-control" ng-model="selectiveProcess.salary" placeholder="Enter the SelectiveProcess Salary"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': SelectiveProcessForm.maxCandidates.$invalid}">
        <label for="maxCandidates" class="col-sm-2 control-label">Max Candidates</label>
        <div id="maxCandidatesControls" class="col-sm-10">
            <input id="maxCandidates" name="maxCandidates" type="number" required class="form-control" ng-model="selectiveProcess.maxCandidates" placeholder="Enter the SelectiveProcess Max Candidates"></input>
            <span class="help-block error" ng-show="SelectiveProcessForm.maxCandidates.$error.required">required</span> 
            <span class="help-block error" ng-show="SelectiveProcessForm.maxCandidates.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': SelectiveProcessForm.active.$invalid}">
        <label for="active" class="col-sm-2 control-label">Active</label>
        <div id="activeControls" class="col-sm-10">
            <input id="active" name="active" type="checkbox" class="checkbox" ng-model="selectiveProcess.active" placeholder="Enter the SelectiveProcess Active"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveSelectiveProcess" name="saveSelectiveProcess" class="btn btn-primary" ng-disabled="isClean() || SelectiveProcessForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteSelectiveProcess" name="deleteSelectiveProcess" class="btn btn-danger" ng-show="selectiveProcess.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>