<header ng-switch on="$location.path().indexOf('/Users/new') > -1">
	<h3 ng-switch-when="true">Create a new User</h3>
	<h3 ng-switch-when="false">View or edit User</h3>
</header>
<form id="UserForm" name="UserForm" class="form-horizontal" role="form">

	<div class="form-group"
		ng-class="{'has-error': UserForm.email.$invalid}">
		<label for="email" class="col-sm-2 control-label">Email</label>
		<div id="emailControls" class="col-sm-10">
			<input id="email" name="email" type="text" required
				class="form-control" ng-model="user.email"
				placeholder="Enter the User Email"></input> <span
				class="help-block error" ng-show="UserForm.email.$error.required">required</span>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': UserForm.firebaseUUID.$invalid}">
		<label for="firebaseUUID" class="col-sm-2 control-label">Firebase
			UUID</label>
		<div id="firebaseUUIDControls" class="col-sm-10">
			<input id="firebaseUUID" name="firebaseUUID" type="text"
				class="form-control" ng-model="user.firebaseUUID"
				placeholder="Enter the User Firebase UUID"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': UserForm.firebaseMessageToken.$invalid}">
		<label for="firebaseMessageToken" class="col-sm-2 control-label">Firebase
			Message Token</label>
		<div id="firebaseMessageTokenControls" class="col-sm-10">
			<input id="firebaseMessageToken" name="firebaseMessageToken"
				type="text" class="form-control"
				ng-model="user.firebaseMessageToken"
				placeholder="Enter the User Firebase Message Token"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': UserForm.uniqueID.$invalid}">
		<label for="uniqueID" class="col-sm-2 control-label">Unique ID</label>
		<div id="uniqueIDControls" class="col-sm-10">
			<input id="uniqueID" name="uniqueID" type="text" class="form-control"
				ng-model="user.uniqueID" placeholder="Enter the User Unique ID"></input>
		</div>
	</div>

	<div class="form-group"
		ng-class="{'has-error': UserForm.active.$invalid}">
		<label for="active" class="col-sm-2 control-label">Active</label>
		<div id="activeControls" class="col-sm-10">
			<input id="active" name="active" type="checkbox" class="checkbox"
				ng-model="user.active" placeholder="Enter the User Active"></input>
		</div>
	</div>


	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="saveUser" name="saveUser" class="btn btn-primary"
				ng-disabled="isClean() || UserForm.$invalid" ng-click="save()">
				<span class="glyphicon glyphicon-ok-sign"></span> Save
			</button>
			<button id="cancel" name="cancel" class="btn btn-default"
				ng-click="cancel()">
				<span class="glyphicon glyphicon-remove-sign"></span> Cancel
			</button>
			<button id="deleteUser" name="deleteUser" class="btn btn-danger"
				ng-show="user.id" ng-click="remove()">
				<span class="glyphicon glyphicon-trash"></span> Delete
			</button>
		</div>
	</div>
</form>