<div class="form-horizontal">
    <h3>Create a new User</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Users/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Users</h3>
    <form id="UserSearch" class="form-horizontal">
            <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input id="email" name="email" class="form-control" type="text" ng-model="search.email" placeholder="Enter the User Email"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="firebaseMessageToken" class="col-sm-2 control-label">Firebase Message Token</label>
        <div class="col-sm-10">
            <input id="firebaseMessageToken" name="firebaseMessageToken" class="form-control" type="text" ng-model="search.firebaseMessageToken" placeholder="Enter the User Firebase Message Token"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="firebaseUUID" class="col-sm-2 control-label">Firebase UUID</label>
        <div class="col-sm-10">
            <input id="firebaseUUID" name="firebaseUUID" class="form-control" type="text" ng-model="search.firebaseUUID" placeholder="Enter the User Firebase UUID"></input>
        </div>
    </div>


    <div class="form-group">
        <label for="active" class="col-sm-2 control-label">Active</label>
        <div class="col-sm-10">
            <select id="active" name="active" class="form-control" ng-model="search.active" ng-options="a as a for a in activeList">
                <option value="">Choose a Active</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="createdAt" class="col-sm-2 control-label">Created At</label>
        <div class="col-sm-10">
            <input id="createdAt" name="createdAt" class="form-control" type="text" ng-model="search.createdAt" placeholder="Enter the User Created At"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="updatedAt" class="col-sm-2 control-label">Updated At</label>
        <div class="col-sm-10">
            <input id="updatedAt" name="updatedAt" class="form-control" type="text" ng-model="search.updatedAt" placeholder="Enter the User Updated At"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="uuid" class="col-sm-2 control-label">Uuid</label>
        <div class="col-sm-10">
            <input id="uuid" name="uuid" class="form-control" type="text" ng-model="search.uuid" placeholder="Enter the User Uuid"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Firebase Message Token</th>
                    <th>Firebase UUID</th>
                    <th>Active</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Uuid</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Users/edit/{{result.id}}">{{result.email}}</a></td>
                    <td><a href="#/Users/edit/{{result.id}}">{{result.firebaseMessageToken}}</a></td>
                    <td><a href="#/Users/edit/{{result.id}}">{{result.firebaseUUID}}</a></td>
                    <td><a href="#/Users/edit/{{result.id}}">{{result.active}}</a></td>
                    <td><a href="#/Users/edit/{{result.id}}">{{result.createdAt}}</a></td>
                    <td><a href="#/Users/edit/{{result.id}}">{{result.updatedAt}}</a></td>
                    <td><a href="#/Users/edit/{{result.id}}">{{result.uuid}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>