<header ng-switch on="$location.path().indexOf('/Resumes/new') > -1">
    <h3 ng-switch-when="true">Create a new Resume</h3>
    <h3 ng-switch-when="false">View or edit Resume</h3>
</header>
<form id="ResumeForm" name="ResumeForm" class="form-horizontal" role="form">
    
    <div class="form-group" ng-class="{'has-error': ResumeForm.owner.$invalid}">
        <label for="owner" class="col-sm-2 control-label">Owner</label>
        <div id="ownerControls" class="col-sm-10">
        <select id="owner" name="owner" class="form-control" ng-model="ownerSelection" ng-options="o.text for o in ownerSelectionList" required >
            <option value="">Choose a Owner</option>
        </select>
        <span class="help-block error" ng-show="ResumeForm.owner.$error.required">required</span> 
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ResumeForm.objective.$invalid}">
        <label for="objective" class="col-sm-2 control-label">Objective</label>
        <div id="objectiveControls" class="col-sm-10">
            <input id="objective" name="objective" type="text" class="form-control" ng-model="resume.objective" placeholder="Enter the Resume Objective"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ResumeForm.content.$invalid}">
        <label for="content" class="col-sm-2 control-label">Content</label>
        <div id="contentControls" class="col-sm-10">
            <input id="content" name="content" type="text" class="form-control" ng-model="resume.content" placeholder="Enter the Resume Content"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ResumeForm.experiences.$invalid}">
        <label for="experiences" class="col-sm-2 control-label">Experiences</label>
        <div id="experiencesControls" class="col-sm-10">
            <input id="experiences" name="experiences" type="text" class="form-control" ng-model="resume.experiences" placeholder="Enter the Resume Experiences"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ResumeForm.educations.$invalid}">
        <label for="educations" class="col-sm-2 control-label">Educations</label>
        <div id="educationsControls" class="col-sm-10">
            <input id="educations" name="educations" type="text" class="form-control" ng-model="resume.educations" placeholder="Enter the Resume Educations"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveResume" name="saveResume" class="btn btn-primary" ng-disabled="isClean() || ResumeForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteResume" name="deleteResume" class="btn btn-danger" ng-show="resume.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>