<header ng-switch on="$location.path().indexOf('/Resumes/new') > -1">
    <h3 ng-switch-when="true">Create a new Resume</h3>
    <h3 ng-switch-when="false">View or edit Resume</h3>
</header>
<form id="ResumeForm" name="ResumeForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': ResumeForm.candidate.$invalid}">
        <label for="candidate" class="col-sm-2 control-label">Candidate</label>
        <div id="candidateControls" class="col-sm-10">
        <select id="candidate" name="candidate" class="form-control" ng-model="candidateSelection" ng-options="c.text for c in candidateSelectionList"  >
            <option value="">Choose a Candidate</option>
        </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveResume" name="saveResume" class="btn btn-primary" ng-disabled="isClean() || ResumeForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteResume" name="deleteResume" class="btn btn-danger" ng-show="resume.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>